<a href="https://colab.research.google.com/github/bennyisaac/hello-world/blob/master/MyPython.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
name = str(input("What is your name? "))
salary = int(input("What is your salary? "))

What is your name? Benny
What is your salary? 10000

In [2]:
print(f"name is {name} and salary is {salary}")

name is Benny and salary is 10000